.row{
  display: grid;
  gap: 1rem;
  max-width: 1200px;

}
@media (min-width: 576px) {
  .row { grid-template-columns: repeat(2, 1fr); }
}
@media (min-width: 768px) {
  .row { grid-template-columns: repeat(3, 1fr); }
}
@media (min-width: 992px) {
  .row { grid-template-columns: repeat(4, 1fr); }
}
@media (min-width: 1200px) {
  .row { grid-template-columns: repeat(5, 1fr); }
}
